--index-url https://pypi.tuna.tsinghua.edu.cn/simple

requests==2.34.2
lxml==6.1.1
Pillow==12.3.0
beautifulsoup4==4.15.0
urllib3==2.6.2

face-recognition-models==0.3.0
cloudscraper==1.2.71
MechanicalSoup==1.4.0
opencc-python-reimplemented==0.1.7